

.custom-position-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 77vh;
}

.custom-position-home h1 {
    color: white;
    font-family: "Dosis";
}

