.custom-position-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.custom-position-class h1 {
    color: white;
    font-family: "Dosis";
}

.custom-position-class span {
    color: #f2f2f2;
    font-family: "Dosis";
}

.custom-class-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.custom-class-inner-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    column-gap: 30px;
    flex-basis: 40%;
}

.custom-class-title-name {
    font-family: "Teko";
    font-size: 23px;
    min-width: 58px;
    font-weight: 500;
}

.navigate-user {
    font-family: "Teko";
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.class-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    font-family: "Mukta";
}


@media screen and (max-width: 576px) {
    .custom-class-inner-container {
        flex-basis: 100%;
    }

}