html,
body {
    height: 100%;
}



.custom-nav-link-styles {
    font-family: "Rubik";
}

#page-content {
    flex: 1 0 auto;
}

.custom-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.custom-container-1 h1 {
    font-family: "Rubik";
}

.custom-style-date {
    font-family: "Rubik";
}

.custom-style-place {
    font-family: "Teko";
}

.custom-style-date {
    font-size: 28px;
}

.custom-style-place {
    font-size: 30px;
}

.custom-style-about-1 {
    font-family: "Rubik";
    font-size: 15px;
    color: darkslategray;
}

.custom-style-about-2 {
    font-family: "Mukta";
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:20px ;
    margin-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.photo-gallery img {
    width: 600px;
    height: 340px;
}

.custom-container-2{
    width: 80%;
    padding-left: 6rem;
}

.custom-form{
    width: 200px !important;
}

.custom-btn{
    font-size:20px !important;
}

.custom-label{
    font-family: "Rubik";
    font-size: 30px;
}

.custom-container-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap:20px ;
    margin-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}